#hub-cta-69165 {
background-image: url('https://uberflip.cdntwrk.com/files/aHViPTY2Mzg0JmNtZD1pdGVtZWRpdG9yaW1hZ2UmZmlsZW5hbWU9aXRlbWVkaXRvcmltYWdlXzU4ZDEzMTJjYWExYjEuanBnJnZlcnNpb249MDAwMCZzaWc9MmQxYzYxYzQyZmNhNDg2ZWE0YmUxMmEyYjU4MjY5M2U%253D') !important;
background-color: initial !important;
background-repeat: no-repeat !important;
background-origin: padding-box;
background-size: 100%;
}


#hub-cta-69168 {
background-image: url('https://uberflip.cdntwrk.com/files/aHViPTY2Mzg0JmNtZD1pdGVtZWRpdG9yaW1hZ2UmZmlsZW5hbWU9aXRlbWVkaXRvcmltYWdlXzU4ZDEzMTJjYWExYjEuanBnJnZlcnNpb249MDAwMCZzaWc9MmQxYzYxYzQyZmNhNDg2ZWE0YmUxMmEyYjU4MjY5M2U%253D') !important;
background-color: initial !important;
background-repeat: no-repeat !important;
background-origin: padding-box;
background-size: 100%;
}

/*Subscribe Mailer*/
.run-away.cta-transition[data-cta-id="69189"],
.run-away.cta-transition[data-cta-id="69189"] > div.hidden-cta-fields,
.run-away.cta-transition[data-cta-id="69189"] > div.run-away{
background: url('https://uberflip.cdntwrk.com/files/aHViPTY2Mzg0JmNtZD1pdGVtZWRpdG9yaW1hZ2UmZmlsZW5hbWU9aXRlbWVkaXRvcmltYWdlXzU4ZDEzYmQ1YTRmOTIucG5nJnZlcnNpb249MDAwMCZzaWc9YWJjMDY3NjM1ZmRkZjMzZTA4MTY3YTA2MTVjMTdhMzk%253D') !important;
background-color: initial !important;
background-repeat: no-repeat !important;
background-origin: padding-box !important;
background-size: 100% !important;
}

.run-away.cta-transition[data-cta-id="67164"],
.run-away.cta-transition[data-cta-id="67164"] > div.hidden-cta-fields,
.run-away.cta-transition[data-cta-id="67164"] > div.run-away{
background: url('https://uberflip.cdntwrk.com/files/aHViPTY2Mzg0JmNtZD1pdGVtZWRpdG9yaW1hZ2UmZmlsZW5hbWU9aXRlbWVkaXRvcmltYWdlXzU4ZDE1ZDZkYjEyNmQucG5nJnZlcnNpb249MDAwMCZzaWc9MWM5MGIwNTNkN2I5ZDAxOWNlOGYwYzI0NjlmOTQxOWI%253D') center 140px !important;
background-color: initial !important;
background-repeat: no-repeat !important;
background-origin: padding-box !important;
background-size: 70px !important;
}

/* Maximizing Shaft and Bearing Lifetimes in Agricultural Machinery */
#hub-cta-69216 {
background-image: url('https://uberflip.cdntwrk.com/files/aHViPTY2Mzg0JmNtZD1pdGVtZWRpdG9yaW1hZ2UmZmlsZW5hbWU9aXRlbWVkaXRvcmltYWdlXzU4ZDE3MThmN2E1MDgucG5nJnZlcnNpb249MDAwMCZzaWc9YzMwZTRlNTFjNDRkOTNjNjI5YTlkODdjY2I3YmZkOWU%253D') !important;
background-color: initial !important;
background-repeat: no-repeat !important;
background-origin: padding-box;
background-size: 100%;
}

/* Plastic Bearings Have Staying Power */
#hub-cta-69222 {
background-image: url('https://uberflip.cdntwrk.com/files/aHViPTY2Mzg0JmNtZD1pdGVtZWRpdG9yaW1hZ2UmZmlsZW5hbWU9aXRlbWVkaXRvcmltYWdlXzU4ZDE3MThmN2E1MDgucG5nJnZlcnNpb249MDAwMCZzaWc9YzMwZTRlNTFjNDRkOTNjNjI5YTlkODdjY2I3YmZkOWU%253D') !important;
background-color: initial !important;
background-repeat: no-repeat !important;
background-origin: padding-box;
background-size: 100%;
}

/* drylin E7 Plastic Bearings vs PTFE-lined Plain Bearings */
#hub-cta-69225 {
background-image: url('https://uberflip.cdntwrk.com/files/aHViPTY2Mzg0JmNtZD1pdGVtZWRpdG9yaW1hZ2UmZmlsZW5hbWU9aXRlbWVkaXRvcmltYWdlXzU4ZDE3MThmN2E1MDgucG5nJnZlcnNpb249MDAwMCZzaWc9YzMwZTRlNTFjNDRkOTNjNjI5YTlkODdjY2I3YmZkOWU%253D') !important;
background-color: initial !important;
background-repeat: no-repeat !important;
background-origin: padding-box;
background-size: 100%;
}

/* Less is More Approach to Robotic Cable Management */
#hub-cta-69228 {
background-image: url('https://uberflip.cdntwrk.com/files/aHViPTY2Mzg0JmNtZD1pdGVtZWRpdG9yaW1hZ2UmZmlsZW5hbWU9aXRlbWVkaXRvcmltYWdlXzU4ZDE3MThmN2E1MDgucG5nJnZlcnNpb249MDAwMCZzaWc9YzMwZTRlNTFjNDRkOTNjNjI5YTlkODdjY2I3YmZkOWU%253D') !important;
background-color: initial !important;
background-repeat: no-repeat !important;
background-origin: padding-box;
background-size: 100%;
}

/* True Cost of Bearing Lubrication */
#hub-cta-69234 {
background-image: url('https://uberflip.cdntwrk.com/files/aHViPTY2Mzg0JmNtZD1pdGVtZWRpdG9yaW1hZ2UmZmlsZW5hbWU9aXRlbWVkaXRvcmltYWdlXzU4ZDE3MThmN2E1MDgucG5nJnZlcnNpb249MDAwMCZzaWc9YzMwZTRlNTFjNDRkOTNjNjI5YTlkODdjY2I3YmZkOWU%253D') !important;
background-color: initial !important;
background-repeat: no-repeat !important;
background-origin: padding-box;
background-size: 100%;
}


/* Lower Drive Force and Friction with Hybrid Linear Bearings */
#hub-cta-69237 {
background-image: url('https://uberflip.cdntwrk.com/files/aHViPTY2Mzg0JmNtZD1pdGVtZWRpdG9yaW1hZ2UmZmlsZW5hbWU9aXRlbWVkaXRvcmltYWdlXzU4ZDEzMTJjYWExYjEuanBnJnZlcnNpb249MDAwMCZzaWc9MmQxYzYxYzQyZmNhNDg2ZWE0YmUxMmEyYjU4MjY5M2U%253D') !important;
background-color: initial !important;
background-repeat: no-repeat !important;
background-origin: padding-box;
background-size: 100%;
}

/* Caring for Cables */
#hub-cta-69243 {
background-image: url('https://uberflip.cdntwrk.com/files/aHViPTY2Mzg0JmNtZD1pdGVtZWRpdG9yaW1hZ2UmZmlsZW5hbWU9aXRlbWVkaXRvcmltYWdlXzU4ZDEzMTJjYWExYjEuanBnJnZlcnNpb249MDAwMCZzaWc9MmQxYzYxYzQyZmNhNDg2ZWE0YmUxMmEyYjU4MjY5M2U%253D') !important;
background-color: initial !important;
background-repeat: no-repeat !important;
background-origin: padding-box;
background-size: 100%;
}

/* Convert Rotary to Linear Motion */
#hub-cta-69246 {
background-image: url('https://uberflip.cdntwrk.com/files/aHViPTY2Mzg0JmNtZD1pdGVtZWRpdG9yaW1hZ2UmZmlsZW5hbWU9aXRlbWVkaXRvcmltYWdlXzU4ZDEzMTJjYWExYjEuanBnJnZlcnNpb249MDAwMCZzaWc9MmQxYzYxYzQyZmNhNDg2ZWE0YmUxMmEyYjU4MjY5M2U%253D') !important;
background-color: initial !important;
background-repeat: no-repeat !important;
background-origin: padding-box;
background-size: 100%;
}

/* 7 Cable Management Mistakes You Don't Know You're Making */
#hub-cta-69249 {
background-image: url('https://uberflip.cdntwrk.com/files/aHViPTY2Mzg0JmNtZD1pdGVtZWRpdG9yaW1hZ2UmZmlsZW5hbWU9aXRlbWVkaXRvcmltYWdlXzU4ZDEzMTJjYWExYjEuanBnJnZlcnNpb249MDAwMCZzaWc9MmQxYzYxYzQyZmNhNDg2ZWE0YmUxMmEyYjU4MjY5M2U%253D') !important;
background-color: initial !important;
background-repeat: no-repeat !important;
background-origin: padding-box;
background-size: 100%;
}

/* Cable Distribution Rules You Need to Obey */
#hub-cta-69252 {
background-image: url('https://uberflip.cdntwrk.com/files/aHViPTY2Mzg0JmNtZD1pdGVtZWRpdG9yaW1hZ2UmZmlsZW5hbWU9aXRlbWVkaXRvcmltYWdlXzU4ZDEzMTJjYWExYjEuanBnJnZlcnNpb249MDAwMCZzaWc9MmQxYzYxYzQyZmNhNDg2ZWE0YmUxMmEyYjU4MjY5M2U%253D') !important;
background-color: initial !important;
background-repeat: no-repeat !important;
background-origin: padding-box;
background-size: 100%;
}

/* 7 Guidelines for Continuous Flex Cables */
#hub-cta-69255 {
background-image: url('https://uberflip.cdntwrk.com/files/aHViPTY2Mzg0JmNtZD1pdGVtZWRpdG9yaW1hZ2UmZmlsZW5hbWU9aXRlbWVkaXRvcmltYWdlXzU4ZDEzMTJjYWExYjEuanBnJnZlcnNpb249MDAwMCZzaWc9MmQxYzYxYzQyZmNhNDg2ZWE0YmUxMmEyYjU4MjY5M2U%253D') !important;
background-color: initial !important;
background-repeat: no-repeat !important;
background-origin: padding-box;
background-size: 100%;
}

/* 3 Methods for Installing a Cable Carrier Vertically */
#hub-cta-69261 {
background-image: url('https://uberflip.cdntwrk.com/files/aHViPTY2Mzg0JmNtZD1pdGVtZWRpdG9yaW1hZ2UmZmlsZW5hbWU9aXRlbWVkaXRvcmltYWdlXzU4ZDEzMTJjYWExYjEuanBnJnZlcnNpb249MDAwMCZzaWc9MmQxYzYxYzQyZmNhNDg2ZWE0YmUxMmEyYjU4MjY5M2U%253D') !important;
background-color: initial !important;
background-repeat: no-repeat !important;
background-origin: padding-box;
background-size: 100%;
}

/* 7 Guidelines for Cable Installation */
#hub-cta-69264 {
background-image: url('https://uberflip.cdntwrk.com/files/aHViPTY2Mzg0JmNtZD1pdGVtZWRpdG9yaW1hZ2UmZmlsZW5hbWU9aXRlbWVkaXRvcmltYWdlXzU4ZDEzMTJjYWExYjEuanBnJnZlcnNpb249MDAwMCZzaWc9MmQxYzYxYzQyZmNhNDg2ZWE0YmUxMmEyYjU4MjY5M2U%253D') !important;
background-color: initial !important;
background-repeat: no-repeat !important;
background-origin: padding-box;
background-size: 100%;
}

/* The 2-1 Rule and How to Define Fixed/Floating Bearings */
#hub-cta-69267 {
background-image: url('https://uberflip.cdntwrk.com/files/aHViPTY2Mzg0JmNtZD1pdGVtZWRpdG9yaW1hZ2UmZmlsZW5hbWU9aXRlbWVkaXRvcmltYWdlXzU4ZDEzMTJjYWExYjEuanBnJnZlcnNpb249MDAwMCZzaWc9MmQxYzYxYzQyZmNhNDg2ZWE0YmUxMmEyYjU4MjY5M2U%253D') !important;
background-color: initial !important;
background-repeat: no-repeat !important;
background-origin: padding-box;
background-size: 100%;
}

/* 3 Tips for Selecting a Linear Slide Table */
#hub-cta-69276 {
background-image: url('https://uberflip.cdntwrk.com/files/aHViPTY2Mzg0JmNtZD1pdGVtZWRpdG9yaW1hZ2UmZmlsZW5hbWU9aXRlbWVkaXRvcmltYWdlXzU4ZDEzMTJjYWExYjEuanBnJnZlcnNpb249MDAwMCZzaWc9MmQxYzYxYzQyZmNhNDg2ZWE0YmUxMmEyYjU4MjY5M2U%253D') !important;
background-color: initial !important;
background-repeat: no-repeat !important;
background-origin: padding-box;
background-size: 100%;
}

/* 6 Reasons for Plastic Spherical Bearings */
#hub-cta-69279 {
background-image: url('https://uberflip.cdntwrk.com/files/aHViPTY2Mzg0JmNtZD1pdGVtZWRpdG9yaW1hZ2UmZmlsZW5hbWU9aXRlbWVkaXRvcmltYWdlXzU4ZDEzMTJjYWExYjEuanBnJnZlcnNpb249MDAwMCZzaWc9MmQxYzYxYzQyZmNhNDg2ZWE0YmUxMmEyYjU4MjY5M2U%253D') !important;
background-color: initial !important;
background-repeat: no-repeat !important;
background-origin: padding-box;
background-size: 100%;
}

/*Contact Sales*/
#hub-cta-69366 {
background-image: url('https://uberflip.cdntwrk.com/files/aHViPTY2Mzg0JmNtZD1pdGVtZWRpdG9yaW1hZ2UmZmlsZW5hbWU9aXRlbWVkaXRvcmltYWdlXzU4ZDI4MDVkNjNlZTMucG5nJnZlcnNpb249MDAwMCZzaWc9Nzg4YmM0ZTNmMTg4MTZhN2I1ZDVlYzk2OWQxOWU2ZWY%253D') !important;
background-color: initial !important;
background-repeat: no-repeat !important;
background-origin: padding-box;
background-size: 100%;
}

/* Changing Favorite Icon*/
.tile .icon.star{
    position: absolute;
    z-index: 1;
    transform: scale(.4);
    top: -4px;
    right: -4px;
    border-radius: 6px;
    opacity: 1;
}

/* Remove Made with Uberflip */

.powered-by{
    display: none;
    visibility: hidden;
}

/* Trying Slidein */
@media screen and (min-width: 1200px) {
element.style {
    background-color: rgb(206, 0, 88) !important;
    color: rgb(255, 255, 255) !important;
    left: -4px;
}

.tile.single.pinterest img{
    display: none;
    visibility: hidden;
}

.pushcrew-chicklet-position-tl {
    top: 100px;
    left: 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-origin: bottom left;
}

.pushcrew-side-button {
    height: auto!important;
    position: fixed!important;
    padding: 10px!important;
    color: #fff;
    font-size: 17px!important;
    font-family: Arial!important;
    background-color: #4d9de0!important;
    border-radius: 10px!important;
    word-spacing: 2px!important;
    max-width: 250px!important;
    z-index: 2147483647!important;
    box-sizing: content box!important;
    line-height: 1.2!important;
    cursor: pointer!important;
    top: 380px !important;
}

.pushcrew-chicklet-position-tl-2 {
    top: 100px;
    left: 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-origin: bottom left;
}

.pushcrew-side-button-2 {
    height: auto!important;
    position: fixed!important;
    padding: 10px!important;
    color: #fff;
    font-size: 17px!important;
    font-family: Arial!important;
    background-color: #4d9de0!important;
    border-radius: 10px!important;
    word-spacing: 2px!important;
    max-width: 250px!important;
    z-index: 2147483647!important;
    box-sizing: content box!important;
    line-height: 1.2!important;
    cursor: pointer!important;
    top: 500px !important;
}

.pushcrew-chicklet-position-tl-3 {
    top: 100px;
    left: 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-origin: bottom left;
}

.pushcrew-side-button-3 {
    height: auto!important;
    position: fixed!important;
    padding: 10px!important;
    color: #fff;
    font-size: 17px!important;
    font-family: Arial!important;
    background-color: #4d9de0!important;
    border-radius: 10px!important;
    word-spacing: 2px!important;
    max-width: 250px!important;
    z-index: 2147483647!important;
    box-sizing: content box!important;
    line-height: 1.2!important;
    cursor: pointer!important;
    top: 631px !important;
}
}
/* Hero */
.large-header{
    z-index: 2;
    height: 400px;
}



@media screen and (min-width: 1450px){
    .overlay-2 {
    opacity:1;
    size: 100%;
    position:absolute;
    top:0; bottom:0; left:0; right:0;
    z-index:3;
    display: none;

}
}

@media screen and (min-width: 1200px) {
    .overlay-3 {
    opacity:1;
    size: 100%;
    position:absolute;
    top:0; bottom:0; left:0; right:0;
    z-index:2;
    display: none;

}
}


	img[usemap] {
		border: none;
		height: auto;
		max-width: none;
		width: auto;
	}

@media screen and (max-width: 1199px) {
    .overlay{
        display: none !important;
    }
    .overlay-2{
        display: none !important;
    }
    .overlay-3{
        display: none !important;
    }
    .pushcrew-chicklet-position-tl{
        display: none !important;
    }
    .pushcrew-side-button{
        display: none !important;
    }
    .pushcrew-chicklet-position-tl-2{
        display: none !important;
    }
    .pushcrew-side-button-2 {
        display: none !important;
    }
    .pushcrew-chicklet-position-tl-3 {
        display: none !important;
    }
    .pushcrew-side-button-3 {
        display: none !important;
    }
    .large-header {
        height: auto;
    }
}
    @media screen and (min-width: 1199px) {
    .primary-logo{
        display: none !important;
    }
    }
        @media screen and (min-width: 1199px) {
    .header-intro{
        display: none !important;
    }
    }


/* iglide sample request CTA */
#hub-cta-69495 {
background-image: url('https://uberflip.cdntwrk.com/files/aHViPTY2Mzg0JmNtZD1pdGVtZWRpdG9yaW1hZ2UmZmlsZW5hbWU9aXRlbWVkaXRvcmltYWdlXzU4ZDQwOGIyNjRkMTQucG5nJnZlcnNpb249MDAwMCZzaWc9NjEwMTQ1NjM5MDZhMjRlODAyNDRiMDZlNWQ5MTZmMTA%253D') !important;
background-color: initial !important;
background-repeat: no-repeat !important;
background-origin: padding-box;
background-size: 100%;
}

/* chainflex sample request CTA */
#hub-cta-69576 {
background-image: url('https://uberflip.cdntwrk.com/files/aHViPTY2Mzg0JmNtZD1pdGVtZWRpdG9yaW1hZ2UmZmlsZW5hbWU9aXRlbWVkaXRvcmltYWdlXzU4ZDNmYmEyOWU4NTEucG5nJnZlcnNpb249MDAwMCZzaWc9YzRkNWQ1MWI1MjUwY2I2YjNlNWYyMzZkODg5ZWYyOTg%253D') !important;
background-color: initial !important;
background-repeat: no-repeat !important;
background-origin: padding-box;
background-size: 100%;
}

/* e-chain sample request CTA */
#hub-cta-69579 {
background-image: url('https://uberflip.cdntwrk.com/files/aHViPTY2Mzg0JmNtZD1pdGVtZWRpdG9yaW1hZ2UmZmlsZW5hbWU9aXRlbWVkaXRvcmltYWdlXzU4ZDNmYzM0ZDgwYmUucG5nJnZlcnNpb249MDAwMCZzaWc9N2VlMjY1ZGIzOTFjN2ZhNTg0Zjg5M2MwOGFmN2I2YTI%253D') !important;
background-color: initial !important;
background-repeat: no-repeat !important;
background-origin: padding-box;
background-size: 100%;
}

/* drylin sample request CTA */
#hub-cta-69582 {
background-image: url('https://uberflip.cdntwrk.com/files/aHViPTY2Mzg0JmNtZD1pdGVtZWRpdG9yaW1hZ2UmZmlsZW5hbWU9aXRlbWVkaXRvcmltYWdlXzU4ZDNmY2UyZDhlMDcucG5nJnZlcnNpb249MDAwMCZzaWc9ZDU3MjFhNmJjZGQ5M2QyYjEwMzZlYmI2ZjkzMzIyYmM%253D') !important;
background-color: initial !important;
background-repeat: no-repeat !important;
background-origin: padding-box;
background-size: 100%;
}

/* Hide first tile on sample stream */
.stream-494757 .tile[data-id="334256646"]{
display:none;
}
