/* Removing Pinterest Bug */
.tile.single.pinterest img {
  visibility: hidden;
}

.main .page-aligner {
  max-width: 1350px;
  padding-left: 1%;
  margin-top: -30px;
  background: #eef0ef;
  -webkit-box-shadow: 0 0 10px 0 #dfdfdf;
  box-shadow: -8px 0 10px -8px #dfdfdf, 8px 0 10px -8px #dfdfdf;
}

.page-aligner{
  z-index: 9999;
}

#featured-items-heading{
  display: none;
}

.large-header {
  background-color: #f9f9f9;
}

.large-overlay{
  position: absolute;
  z-index: 9999;
  top: 65px;
  width: 100%;
}

.hero-image{
  max-width: 1363px;
}

@media screen and (min-width:1607px) {
  .hero-image{
    width: 1363px;
  }
  .main .page-aligner {
    margin-top: 8px;
  }
}

@media screen and (max-width: 1606px) and (min-width:1337px){
  .hero-image{
    width: 1093px;
  }
  .main .page-aligner {
    margin-top: -66px;
  }
}

@media screen and (max-width: 1336px) and (min-width:861px){
  .hero-image{
    width: 821px;
  }
  .main .page-aligner {
    margin-top: -141px;
  }
}

@media screen and (max-width: 860px){
  .hero-image{
    width: 587px;
  }
  .main .page-aligner {
    margin-top: -206px;
  }
}
