@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Removing Pinterest Bug */
.tile.single.pinterest img {
  visibility: hidden;
}

/* Setting font and background for whole site */
body{
  font-family: 'Roboto' sans-serif;
  background: white;
}

 Styling top
.top-nav{
  border-bottom: 1px solid #ececec;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  background-color: white;
}

.page-width .page-aligner{
  background-color: #5e5e5e;
  padding-bottom: 1px;
  box-shadow: 0 1px 20px rgba(0,0,0,0.05)
}

.lab_top_menu .top-nav .secondary-logo{
  padding-left: 20px;
}

.top-nav .hooked{
  color: white !important;
}

.docs.collapsed.has-children a {
    color: white !important;
  }

.docs.collapsed.has-children.hover a{
  color: #5e5e5e !important;
}

.top-nav .secondary-logo > a {
  color: white;
  opacity: 1 !important
}

.main .page-aligner {
  max-width: 1350px;
  padding-left: 1%;
  margin-top: -30px;
  background: #eef0ef;
  -webkit-box-shadow: 0 0 10px 0 #dfdfdf;
  box-shadow: -8px 0 10px -8px #dfdfdf, 8px 0 10px -8px #dfdfdf;
}

.main .page-aligner{
  z-index: 5999;
  padding-bottom: 0px;
  box-shadow: 0px;
}

#featured-items-heading{
  display: none;
}

.large-header {
  background-color: white;
}

.large-overlay{
  position: absolute;
  z-index: 5997;
  top: 65px;
  width: 100%;
  display: none;
}

.hero-video{
  background-color: white;
}

#hubs-container {
  background-color: white;
}

.page-aligner,
.hero-image,{
  max-width: 1363px;
}

.hero-image{
  filter: grayscale(100);
}

.hero-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  z-index: 5998;
  left: 50%;
  top: 37%;
}

.hero-text-center-container{
  display: flex;
  position: relative;
  left: -52%;
  align-items: center;
}

.hero-text-headline{
  background-color: #ff7500;
  color: white;
  font-size: 40px;
  padding: 0px 20px 0px 10px;
  font-weight: 500;
  margin-top: 1px;
}

.hero-text-center-container input{
  margin-top: 10px;
  border-radius: 0px;
  height:39px;
}

.tile.single.with-img .description h4.long-h3 {
display: block;
}

li.tile.single.youtube.stream-1496319.with-img {
  width: 520px;
}

li.tile.single.youtube.stream-1496319.with-img img{
  margin-top:0px !important
}

#hub-cta-111639 p,
#hub-cta-111642 p,
#hub-cta-111645 p{
  font-weight: bold;
  margin-top: 0px !important;
  text-align: left;
}

.tile:hover{
  -webkit-box-shadow: 0 0 2.5px 2.5px #ff7500;
  -moz-box-shadow: 0 0 2.5px 2.5px #ff7500;
  box-shadow: 0 0 2.5px 2.5px #ff7500;
}

.tile.single.with-img .description h4.long-h3 {
display: block;
}

li.tile.single>a.view{
  background-image: none;
  padding-left: 20px;
}

input[type=text]:focus{
  border-color: #ff7500;
}

footer {
  background: #5e5e5e;
  color: white;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.copyright{
  margin: 0px !important;
}

.flex-footer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100vw;
  max-width: 1350px;
}

.flex{
  flex-grow: 1;
  flex-basis: 0;
}

.footer-image{
  max-width: 200px;
  padding-right: 40px;
}

.flex-image{
  text-align: right;
}

/* Menu Headers */
.top-nav .left-nav.desktop > li > a {
  font-size: 15px;
  padding-right: 20px;
  color: white;
}

.top-nav .left-nav.desktop > li,
.top-nav .left-nav.desktop > li.hover{
  border-radius: 0px;
}

.top-nav .left-nav.desktop > li{
  background: #5e5e5e;
  height: 65px;
  margin-top: -16px;
  padding-top: 17px;
  padding-left: 15px;
  padding-right: 15px;
}

.top-nav .left-nav.desktop > li:first-child{
  margin-left: -50px;
}

.custom-menu-item,
.top-nav .left-nav.desktop > li.hover.has-children{
  background: gray;
}

.top-nav .left-nav.desktop > li ul{
  margin-top: 32px;
}

.top-nav .left-nav.desktop > li a {
  border-right: none;
}

.left-nav > li ul a {
  border-top: none;
}

.top-nav .left-nav.desktop > li ul li a{
  padding: 5px 10px;
}

.custom-menu-item [target=_top] {
  pointer-events: none;
  cursor: default;
  color: #fb9742;
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 10px;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

/* Removing Default Capitalization for H1 Tags */
h1 {
  text-transform: none !important;
}

/* Logo styling */
.top-nav .secondary-logo a img {
    max-height: 85px;
    margin-left: -40px;
}

/* Footer Link Styling */
table.footer-table a,
table.footer-table a:visited,
table.footer-table a:hover,
table.footer-table a:active {
  color: #777777 !important
}

@media screen and (min-width:1607px) {
  .hero-text,
  .hero-image,
  .page-width .page-aligner{
    width: 1363px;
  }
  .main .page-aligner {
    margin-top: 8px;
    padding-bottom: 40px;
  }

  .hero-text-container{
    height: 372.688px;
  }
}

@media screen and (max-width: 1606px) and (min-width:1337px){
  .hero-text,
  .hero-image,
  .page-width .page-aligner{
    width: 1093px;
  }
  .main .page-aligner {
    margin-top: -66px;
  }
  .hero-text-container{
    height: 298.859px;
  }
  .flex-footer{
    max-width: 1093px;
  }
}

@media screen and (max-width: 1336px) and (min-width:861px){
  .hero-text,
  .hero-image,
  .page-width .page-aligner{
    width: 821px;
  }
  .main .page-aligner {
    margin-top: -141px;
  }
  .hero-text-container{
    height: 244.484;
  }
  .hero-text-headline{
    font-size: 25px;
  }
  .hero-text-center-container input{
    height: 20px;
  }
  .flex-footer{
    max-width: 821px;
  }
}

@media screen and (max-width: 860px) and (min-width:561px){
  .hero-text,
  .hero-image,
  .page-width .page-aligner{
    width: 587px;
  }
  .hero-text-headline{
    display: none;
  }
  .hero-text-center-container input{
    display: none;
  }
  .large-overlay{
    display: none !important;
  }
  .top-nav .secondary-logo a img{
    display: none
  }
  .right-side-btns{
    margin-right: 10px;
  }
  body.lab_top_menu .top-nav .nav-toggle{
    margin-left: 10px;
  }
  .flex-footer{
    max-width: 587px;
  }
  .flex-links,
  .flex-placeholder{
    display: none;
  }
  .flex-image{
    text-align: center;
  }
  li.tile.single.youtube.stream-1496319.with-img{
    width: 250px;
  }
}

@media screen and (max-width: 560px){
  .hero-text-headline{
    display: none;
  }
  .hero-text-center-container input{
    display: none;
  }
  .large-overlay{
    display: none !important;
  }
  .top-nav .secondary-logo a img{
    display: none
  }
  .right-side-btns{
    margin-right: 10px;
  }
  body.lab_top_menu .top-nav .nav-toggle{
    margin-left: 10px;
  }
  .flex-links,
  .flex-placeholder{
    display: none;
  }
  .flex-image{
    text-align: center;
  }
  li.tile.single.youtube.stream-1496319.with-img{
    width: 100%;
  }
}
